{% extends "site.html" %}

{% block title %}See jobs for the 15 most popular subjects{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
    <![endif]-->
    <style>
        #map {height:500px; width: 100%;}
    .subjects{
        background-color: white;
        list-style: none;
    }
    </style>
{% endblock extra_head %}

{% block content %}

    <div id="map-wrapper" class="span10 offset1">
        <div id="map" class="map"></div>
    </div>


{% endblock content %}

{% block extra_javascript %}
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script src="/static/js/maps.js"></script>
    <script>


        var map = L.map('map');
        var base = L.tileLayer('http://{s}.tile.cloudmade.com/6b142f3144774208a33fff14cdc125e3/997/256/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
            maxZoom: 18
        }).addTo(map);
        var bounds = new L.LatLngBounds();


        map.locate({'setView' : true, 'timeout' : 10000, maxZoom: 6});

        //if wedon't get a location from the browser, set the
//        map.on('locationerror', function () {map.fitBounds(bounds);});
        var subjectSource = Array();
        {% for subject in subjects %}
            subjectSource.push("{{ subject.name }} : {{ subject.jl }}");

        {% endfor %}

        map.addControl(new subjectJobs() );
        $("#subject-search").typeahead({source : subjectSource});

        $("#add-subject").on('click',function(){
            var subject = $.trim($('#subject-search').val().split(":")[0]);

            $.ajax({
                    url : "/map/subject/" +  encodeURIComponent(subject) + "/"
                }).done(
                function(data) {
                    add_markers(data);
                    $(".subjects-control").append("<br /><ul class='subjects'><li>"+ subject +"</li></ul>");

                }
        )});

        //This here prevents the map from moving when you click on the input
        $(".leaflet-control-container input").on('mousedown', function(e) {
            e.stopPropagation();});


    </script>
{% endblock extra_javascript %}
